@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";


@layer base {
    .brand-logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900; /* Extra Bold */
    }
    body {
      font-family: 'Poppins', sans-serif;background-color: #e6e6ff;
      color: #393e46;
      width: 100vw;
      overflow-x: hidden;
      font-family: "Montserrat", sans-serif;
      
      
    }
  }
  
  
/* index.css */
.bg-btn-primary {
    background-color: #5A5AFF;
    transition: background-color 0.3s ease-in-out;
    color: #e6e6ff;
    cursor: pointer;
    
  }
.bg-btn-primary:hover {
  background-color: #3A3AFF;
}
  
.input-field {
  @apply w-full px-4 py-2 border rounded-md shadow-sm
         text-gray-800 placeholder-gray-500 bg-white
         focus:outline-none focus:ring-2 focus:ring-[#5A5AFF] focus:border-[#3A3AFF]
         dark:bg-[#222831] dark:text-[#E6E6FF] dark:placeholder-gray-400
         dark:focus:ring-[#5A5AFF] dark:focus:border-[#3A3AFF]
         cursor-pointer;
}
/* Fix for autofill */
.input-field:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: #E6E6FF !important;
  transition: background-color 5000s ease-in-out 0s;
}


